



.login-body{
    width: 100%;
    height: 100vh;
}
.top-bar{
    height: fit-content;
    width: 100%;
    padding: 25px 55px;
    background-color: #1976D2;
    text-align: center;
}
.topbar-img{
    width: 120px;
}

.login-imgs{
    /* border: 2px solid #1976D2; */
    width: 270px !important;
}


/* --------------BODY STYLING----------------------- */


.body-body{
    width: 100%;
}
.body-container{
    width: 100%;
    padding: 55px 125px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.body-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.body-text h3{
    font-size: 30px;
    font-weight: 400;
}
.body-text p{
    font-size: 16px;
    font-weight: 300;
}
.body-box-container{
    display: flex;
    gap: 40px;
}
.body-box{
    height: fit-content;
    width: fit-content;
    padding: 40px 20px !important;
    border-radius: 10px;
    background-color: #E3F2FD;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: center;
    /* gap: 40px; */
    transition: all ease-in-out .5s;
    box-shadow: rgba(29, 24, 5, 0.234) 0px 2px 5px;
}
.body-box:hover{
    background-color: #ffcc80;
    color: #121212;
    font-weight: 300;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.body-box img{
    width: 180px;
}
.body-link{
    text-decoration: none;
    color: #121212;
    transition: all ease-in-out .5s;
}
.body-link:hover{
    transform: scale(1.05);
}

.login{
    text-decoration: none;
    color: #121212;
    font-weight: 300;
    cursor: pointer;

}
.login:hover{
    /* text-decoration: underline solid #121212 10%; */
    color: #121212;
    font-weight: 300;
    cursor: pointer;

}
.login span{
    color: #1976D2;
    font-weight: 400;
}