* {
    padding: 0;
    margin: 0;
  }
  
  .containerz {
    background: #f7f7f7;
    font-family: "Lato", sans-serif;
    display: flex;
  }
  
  .bodyz {
    font-family: "Lato", sans-serif;
    margin-left: 300px;
    padding: 40px;
  
  }
  
  .titlez {
    font-size: 25px;
  }
  .title-sidez h3{
    font-weight: 400;
    font-size: 25px;
  }
  
  .subtitlez {
    color: #6B7280;
    font-size: 16px;
    font-weight: 300 !important;
    margin-top: 5px;
  }
  
  .grantz {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }
  
  .gtxtz {
    margin-left: 15px;
    font-size: 20px;
  }
  
  
  .revokez {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }
  
  /*Block2 designs....*/
  .block1z {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 60px;
    border-radius: 5px 5px 0 0;
    background: white;
  }
  
  .head-textz {
    padding-top: 20px;
    margin-left: 20px;
    display: flex;
  }
  
  .title-datez {
    margin-top: 5px;
    margin-left: 15px;
    background: #E3F2FD;
    width: 90px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 20px;
    color: #1976D2;
  }
  
  table {
    width: 100%;
    /*border: solid black 1px;*/
    margin-top: 20px;
    /* border-collapse: collapse; */
    /* border-spacing: 20px; */
    padding: 20px;
  }
  
  th {
    border-bottom: 1px solid #EAECF0;
    text-align: left;
    padding-left: 50px;
    height: 30px; 
    color: #667085;
    background: #F9FAFB;
  }
  
  .header {
    padding-left: 50px;
    width: 5%;
  }
  
  .pimage {
    display: flex;
    align-items: center;
  }
  
  .pname {
    margin-left: 8px;
  }
  
  .down {
    padding-left: 5px;
  }
  
  td {
    border-bottom: 1px solid #EAECF0;
    height: 50px;
    padding-left: 50px;
  }
  
  .check2 {
    margin-left: 20px;
  }
  
  /*Pagination design.............*/
  .paginationz {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    background: #EAECF0;
    border: 0px solid #EAECF0;
  }
  
  .previousz {
    margin-left: 20px;
    width: 20%;
    display: flex;
    align-items: center;
  }
  
  .previousz button {
    width: 100px;
    height: 30px;
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .prev-btn {
    margin-left: 10px;
  }
  
  .numbersz {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-contz {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .numbersz button {
    width: 30px;
    height: 30px;
    background: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .numbersz > .btn-cont >.no1 {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }
  
  .nextz {
    margin-right: 20px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  
  .nextz button {
    width: 100px;
    height: 30px;
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nxt-btn {
    margin-right: 10px;
  }