

.hospital-history{
    display: flex;
    flex-direction: column;
}
.history-container{
    width: 650px;
    height: fit-content;
    padding: 24px 40px;
    border-radius: 10px;
    background: #fff;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial;
    -webkit-box-shadow: 0px 0px 28px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px -22px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.h-container{
    border-radius: 10px;
    background: #fff;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial;
    display: flex;
    gap: 20px;
    align-items: center;
}
.history{
    width: 100%;
}
.history h3{
    font-weight: 400;
}
.history-container .visits{
    display: flex;
    font-size: 10px;
    gap: 10px;
    align-items: center;
}

.visits p{
    font-size: 10px;
}
.buttons button{
    background: #fff;
    border: .5px solid #777777;
    outline: 0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    border-radius: 6px;
}

.green{
    color: #85D591;
}
.bg-green{
    background-color: #85D591;
}
.blue{
    color: #1565C0;
}
.bg-blue{
    background-color: #1565C0;
}
.red{
    color: #e25b57;
}
.bg-red{
    background-color: #e25b57;
}
.grey{
    color: #6B7280;
}
.bg-grey{
    background-color: #d9d9d9;
}

.indicator{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.row1{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.row-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.month{
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
}