
:root{
  --header-height: 3rem;
  --nav-width: 88px;

  --first-color: #1565C0;
  --first-color-alt: #2196F3;
  --white-color: #fefefe;
}

a{
  text-decoration: none;
}
ul{
  list-style: none;
}

main{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  transition: .5s;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  /* background-color: var(--white-color) !important; */
  padding: 0 1rem !important;
  /* padding-top: 2rem !important; */
  transition: .5s;
  /* background: #000 !important; */
}
.header-toggle{
  font-size: 40px !important;
  cursor: pointer;
  color: var(--white-color) !important;
  margin-top: .5rem !important;
  margin-bottom: 1.5rem;
  padding-left: 15px !important;
  position: relative;
  z-index: 1;
}
.header-toggle-2{
  font-size: 40px !important;
  cursor: pointer;
  color: var(--first-color);
  margin-top: 4.2rem !important;
  margin-bottom: 1.5rem;
  padding-left: 10px !important;
  position: absolute;
  z-index: -99;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh !important;
  width: var(--nav-width);
  background-color: var(--first-color);
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  transition: .5s;
  left: -30%;
}
.nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow: hidden;
  height: 100%;
}

.nav-logon, .nav-link{
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2rem;
  padding: .5rem 0 .5rem 2rem ;
}
.nav-logon{
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.nav-link{
  display: flex;
  align-items: center;
}
.nav-logo-icon{
  font-size: 30px !important;
  color: var(--white-color);
  cursor: pointer;
}
.nav-logo-name{
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
}
.nav-logon,.nav-link{
  position: relative;
  padding-top: 1rem;
  color: var(--white-color);
  transition: .5s;
  margin-bottom: 1rem;
  height: 60px;
}
.nav-logon:hover,.nav-link:hover{
  color: var(--white-color);
  background-color: var(--first-color-alt);
 
}
.active{
  color: var(--white-color);
  background-color: var(--first-color-alt);
}
.active::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 3px;
  background-color: var(--white-color);
  transition: .5s;
}
.show{
  left: 0 !important;
}
.hide{
  display: none;
}
.showw{
  display: block;
}
.space-toggle{
  /* padding-left: calc( var(--nav-width) + 1rem ); */
  padding-left: var(--nav-width);
}
.space-toggle-2{
  padding-left: calc( var(--nav-width) + 1rem ) !important;
}





/* ---------------------------------------------------------------- */

@media screen and (min-width: 768px){

  main{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
  }

  .header{
    height: var(--header-height); 
  }
  .header-toggle{
    font-size: 40px !important;
    cursor: pointer;
    color: var(--white-color);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 15px;
    /* display: block; */
    /* z-index: 100; */
  }
 
  .sidebar{
    left: 0;
    padding: 1rem 0 0 0 !important ;
  }
  .show{
    width: calc(var(--header-height) + 220px) !important;
  }
  .space-toggle{
    margin-left: 160px;
  }
  
}

@media screen and (min-width: 500px) and (max-width: 768px){
  .header-toggle-2{
    font-size: 40px !important;
    cursor: pointer;
    color: var(--first-color);
    margin-top: 3rem !important;
    margin-bottom: 1.5rem;
    padding-left: 10px !important;
    position: absolute;
    z-index: -99;
  }
  .header{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    /* background-color: var(--white-color) !important; */
    padding: 0 .5rem !important;
    /* padding-top: 2rem !important; */
    transition: .5s;
    /* background: #000 !important; */
  }
  main{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 .5rem;
    transition: .5s;
  }
  
}
@media screen and (min-width: 280px) and (max-width: 499px){
  .header-toggle-2{
    font-size: 40px !important;
    cursor: pointer;
    color: var(--first-color);
    margin-top: 3rem !important;
    margin-bottom: 1.5rem;
    padding-left: 10px !important;
    position: absolute;
    z-index: -99;
  }

  .header{
    /* position: fixed; */
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    /* background-color: var(--white-color) !important; */
    padding: 0 .2rem !important;
    /* padding-top: 2rem !important; */
    transition: .5s;
    /* background: #000 !important; */
  }
  main{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 .5rem;
    transition: .5s;
  }
  
}





.menu-icon-container{
  padding: 24px;
  /* position: absolute; */
  z-index: -99;
  /* display: none; */
}

.sidebar-btn{
  background: transparent;
  outline: none;
  border: none;
  display: block;
}
.logo-bar{
  display: flex;
  justify-content: space-between
}


/* -------------SEARCHBAR STYLING ------------------------ */



@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
  font-family: 'Lato', 'Helvetica Neue',;
  font-size: 16px;
}



.sidez-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    /* margin-top: -60px; */
}


.searchbar input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 6px;
    font-family: 'Lato', 'Helvetica Neue',;
    font-size: 16px;
    font-weight: 100;
}
.searchbar button{
    padding: 7px 12px;
    margin-left: -73px;
    background: #1565C0;
    border-radius: 6px;
    border: none;
    outline: none;
    font-family: 'Lato', 'Helvetica Neue',;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    font-weight: 100;
}



/* -------------------LINKS STYLING ---------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
  font-family: 'Lato', 'Helvetica Neue',;
  font-size: 16px;
}



.link{
  display: grid;
  gap: 4px;
}
.link div{
  width: 100%;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  transition: all ease-in-out .4s;

}
.link div:hover{
  background-color: #2196F3;
  border-radius: 6px;
  width: 100%;
  padding: 10px 10px;
}
.link a{
  text-decoration: none;
  font-weight: 300;

}
.link a div{
  color: #fff;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial;
  
}


/* ---------------DETAILS STYLING ------------------------------- */




@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
  font-family: 'Lato', 'Helvetica Neue',;
  font-size: 16px;
}
.details-container{
    border-top: .7px solid #fff;
    margin-bottom: -20px;
    padding: 15px 0;
}

.details{
    font-family: 'Lato';
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.details button{
    background: none;
    outline: none;
    border: none;
    color: #fff;
}
.details-details{
    width: 200px;
}
.name{
    font-size: 18px;
    font-weight: 700;
}
.email{
    font-size: 14px;
    font-weight: 300;
}
/* .logout-icon{
    margin-left: 0px;
} */



/* -----------media queries------------------------ */

